{% extends 'base.html' %} {% block title %} {{ post.title }} {{
    post.date }} {% endblock title %} {% block content %}
    <h2> {{ post.title }} ({{ post.date|date:"d/m/y - H:i" }}) </h2>
    
    <section class="dados-de-filme">
      <img src="{{ post.poster_url }}" alt="Poster do post {{ post.title}}" />
      <ul>
        <li> {{post.content|safe}} </li>
        <li><a href="{% url 'posts:update' post.id %}">Editar </a></li>
        <li><a href="{% url 'posts:delete' post.id %}">Apagar </a></li>
      </ul>
    </section>
    
    {% endblock content %}