{% extends 'base.html' %}

{% block title %}
{{ post.title }} {{ post.date }}
{% endblock title %}

{% block content %}
<h2> {{ post.title }} ({{ post.date|date:"d/m/y - H:i" }}) </h2>

<section class="dados-de-filme">
  <img src="{{ post.poster_url }}" alt="Poster do post {{ post.title }}" />
  <ul>
    <li> {{ post.content|safe }} </li>
    <li><a href="{% url 'posts:update' post.id %}">Editar </a></li>
    <li><a href="{% url 'posts:delete' post.id %}">Apagar </a></li>
  </ul>
</section>

<hr>

<section>
  <header>
    <h3>Categorias</h3>
  </header>
  <article>
     <div class="lista-de-cards">
         {% for category in post.category_set.all %}
         <div class="card">
             <a href="{% url 'posts:category_detail' category.id %}">
               <h3>{{ category.name }}</h3>
             </a>
             <p>{{ category.description }}</p>
         </div>
         {% endfor %}
      </div>
  </article>
</section>

<hr>

<section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>
        {% if post.comments.all %}
            {% for comment in post.comments.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>{{ comment.author }}</figcaption>
                    <figcaption>{{ comment.date|date:"H:i - d/m/y" }}</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não há nenhum comentário nesse post.</p>
        {% endif %}
    </ul>
    <hr>

    <a href="{% url 'posts:comment' post.pk %}"><button>Comente</button></a>
</section>

{% endblock content %}